body {
    background-color: darkmagenta;
color:blue;
}

h1 {
    font-size: 30px;
   text-align: center;
   text-transform: uppercase;
}

p  {
     font-size:  16px;
     color: darkblue;
}